<div class="stepper-container">
  <div class="stepper">
    <ng-container *ngFor="let step of steps; let i = index">
      <div class="step-wrapper">
        <div
          class="step-label"
          [class.active]="current === step.id"
          [class.completed]="current > step.id"
          (click)="stepChange.emit(step.id)"
        >
          <i [class]="step.icon"></i>
          <span>{{ step.label | translate }}</span>
        </div>

        <div class="step-progress">
          <div
            class="step-circle"
            [class.active]="current === step.id"
            [class.completed]="current > step.id"
            (click)="stepChange.emit(step.id)"
          >
            <div *ngIf="current === step.id" class="inner-circle"></div>

            <div *ngIf="current > step.id" class="checkmark">&#10003;</div>
          </div>

          <div
            *ngIf="i < steps.length - 1"
            class="connector-line"
            [class.completed]="current > step.id"
          ></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
