<div class="filter-toolbar mb-3" [class.filter-toolbar--without-secondary]="!showSecondary()">
  <div class="filter-toolbar__search">
    <ng-content select="[filterSearch]" />
  </div>

  @if (showSecondary()) {
    <div class="filter-toolbar__secondary filter-field">
      <ng-content select="[filterSecondary]" />
    </div>
  }

  <div class="filter-toolbar__actions">
    @if (showAdvanced()) {
      <button pButton type="button" class="p-button-outlined" (click)="advancedToggled.emit()">
        <i [class]="advancedExpanded() ? 'pi pi-chevron-up' : 'pi pi-filter'" pButtonIcon></i>
        <span pButtonLabel>{{ advancedLabel() }}</span>
        @if (activeAdvancedCount() > 0) {
          <span class="filter-count">{{ activeAdvancedCount() }}</span>
        }
      </button>
    } @else if (activeAdvancedCount() > 0) {
      <span class="filter-count">{{ activeAdvancedCount() }}</span>
    }

    @if (showClear()) {
      <button
        pButton
        type="button"
        class="p-button-outlined p-button-secondary"
        (click)="filtersCleared.emit()"
      >
        <i class="pi pi-filter-slash" pButtonIcon></i>
        <span pButtonLabel>{{ clearLabel() }}</span>
      </button>
    }
  </div>
</div>

@if (advancedExpanded()) {
  <div class="advanced-filters-panel mb-4 p-3 border rounded-4">
    <ng-content select="[advancedFilters]" />
  </div>
}
