<div class="review-bar" [ngClass]="getClassStatus()">
  <div class="actions">
    <button
      pButton
      type="button"
      class="p-button-success p-button-sm"
      icon="pi pi-check"
      (click)="approve()"
    >
      {{ 'profileApproval.status.approved' | translate }}
    </button>

    <button
      pButton
      type="button"
      class="p-button-warning p-button-sm"
      icon="pi pi-undo"
      (click)="requestChanges()"
    >
      {{ 'profileApproval.status.changes' | translate }}
    </button>
  </div>
</div>
