<div class="review-bar" [ngClass]="getClassStatus()">
  <div class="actions">
    <button
      pButton
      type="button"
      class="p-button-success p-button-sm"
      icon="pi pi-check"
      (click)="approve()"
    >
      {{ 'profileApproval.status.approved' | translate }}
    </button>

    <button
      pButton
      type="button"
      class="p-button-warning p-button-sm"
      icon="pi pi-undo"
      (click)="requestChanges()"
    >
      {{ 'profileApproval.status.changes' | translate }}
    </button>

    <button
      pButton
      type="button"
      class="p-button-danger p-button-sm"
      icon="pi pi-times"
      (click)="reject()"
    >
      {{ 'profileApproval.status.rejected' | translate }}
    </button>
  </div>

  <textarea
    *ngIf="needsNote()"
    pInputTextarea
    rows="2"
    class="w-100 mt-2"
    [ngModel]="noteDraft()"
    (ngModelChange)="noteDraft.set($event)"
    [placeholder]="'profileApproval.review.notePlaceholder' | translate"
  ></textarea>
</div>
