<div >
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.SECTOR' | translate }}
        </label>

        <p-select
          class="form-select px-0 "
          [options]="lookupsService.sectors()"
          formControlName="sectorId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.SECTOR_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.sectorId.touched && form.controls.sectorId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- management -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.MANAGEMENT' | translate }}
        </label>

        <p-select
          class="form-select px-0 "
          [options]="lookupsService.managements()"
          formControlName="managementId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          [disabled]="!form.controls.sectorId.value"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.MANAGEMENT_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.managementId.touched && form.controls.managementId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- department -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.DEPARTMENT' | translate }}
        </label>

        <p-select
          class="form-select px-0 "
          [options]="lookupsService.departments()"
          formControlName="departmentId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          [disabled]="!canSelectDepartment()"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.DEPARTMENT_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.departmentId.touched && form.controls.departmentId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- yearsOfExperience -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.MIN_EXPERIENCE' | translate }}
        </label>

        <input
          pInputText
          type="number"
          min="0"
          class="form-control"
          formControlName="yearsOfExperience"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.MIN_EXPERIENCE_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.yearsOfExperience.touched && form.controls.yearsOfExperience.invalid) {
        <div class="text-danger">
          {{ 'VALIDATION.REQUIRED_FIELD' | translate }}
        </div>
        }
      </div>

      <!-- titleAr -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.JOB_TITLE_AR' | translate }}
        </label>

        <input
          pInputText
          class="form-control"
          formControlName="titleAr"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.JOB_TITLE_AR_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.titleAr.touched && form.controls.titleAr.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- titleEn -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.JOB_TITLE_EN' | translate }}
        </label>

        <input
          pInputText
          class="form-control"
          formControlName="titleEn"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.JOB_TITLE_EN_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.titleEn.touched && form.controls.titleEn.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- jobCategory -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.JOB_CATEGORY' | translate }}
        </label>

        <p-select
          class="form-select px-0 "
          [options]="lookupsService.jobCategories()"
          formControlName="jobCategoryId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.JOB_CATEGORY_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.jobCategoryId.touched && form.controls.jobCategoryId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- workLocation -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.WORK_LOCATION' | translate }}
        </label>

        <p-select
          class="form-select px-0 "
          [options]="lookupsService.workLocations()"
          formControlName="workLocationId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.WORK_LOCATION_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.workLocationId.touched && form.controls.workLocationId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- major -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.MAJOR' | translate }}
        </label>

        <app-remote-select
          class="jb-remote"
          formControlName="majorId"
          [searchUrl]="endpoints.job.lookups.majors"
          [placeholder]="'JOB_WIZARD.STEPS.BASICS.MAJOR_PLACEHOLDER' | translate"
          optionLabel="name"
          optionValue="id"
          [preloadedOptions]="majorOptions"
          [appendTo]="'body'"
          [panelStyle]="{ maxHeight: '260px', overflow: 'auto', width: '100%' }"
          [invalid]="
            form.controls.majorId.invalid &&
            (form.controls.majorId.dirty || form.controls.majorId.touched)
          "
          [showClear]="true"
        ></app-remote-select>

        @if (form.controls.majorId.touched && form.controls.majorId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- subMajor -->
      <div class="col-md-6 mb-3">
        @if (canSelectSubMajor()) {
        <label class="form-label">
          {{ 'JOB_WIZARD.STEPS.BASICS.SUB_MAJOR' | translate }}
        </label>

        <app-remote-select
          class="jb-remote"
          formControlName="subMajorId"
          [minChars]="1"
          [parentId]="form.controls.majorId.value"
          parentParamName="parentId"
          [requireParent]="true"
          [searchUrl]="endpoints.job.lookups.subMajors"
          [placeholder]="'JOB_WIZARD.STEPS.BASICS.SUB_MAJOR_PLACEHOLDER' | translate"
          optionLabel="name"
          optionValue="id"
          [preloadedOptions]="subMajorOptions"
          [appendTo]="'body'"
          [panelStyle]="{ maxHeight: '260px', overflow: 'auto', width: '100%' }"
          [invalid]="
            form.controls.subMajorId.invalid &&
            (form.controls.subMajorId.dirty || form.controls.subMajorId.touched)
          "
          [showClear]="true"
        ></app-remote-select>
        }
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">
          {{ 'JOB_WIZARD.STEPS.BASICS.GENDER' | translate }}
        </label>

        <div class="form-control d-flex gap-3"
        (click)="touchGender()"
        (focusin)="touchGender()">
          @for (g of lookupsService.genders(); track g.id) {
                 <label class="d-flex gap-1 align-items-center" >
                       <p-radioButton name="gender" class=""  [value]="g.id" formControlName="genderId" [inputId]="'gender_' + g.id" ></p-radioButton>

                        <span class="form-check-label">{{ g.name }}</span>
                 </label>
          
          }
        </div>
         @if (form.controls.genderId.touched && form.controls.genderId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.WORK_TYPE' | translate }}
        </label>

        <p-select
          class="form-select px-0 px-0"
          [options]="lookupsService.workTypes()"
          formControlName="workTypeId"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          [filter]="true"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.WORK_TYPE_PLACEHOLDER' | translate }}"
        ></p-select>

        @if (form.controls.workTypeId.touched && form.controls.workTypeId.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- vacancies -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.VACANCIES' | translate }}
        </label>

        <input
          pInputText
          type="number"
          min="1"
          class="form-control"
          formControlName="numberOfVacancies"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.VACANCIES_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.numberOfVacancies.touched && form.controls.numberOfVacancies.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- deadline -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.DEADLINE' | translate }}
        </label>

        <p-datePicker
         
          formControlName="closingDate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          placeholder="dd/mm/yyyy"
          [appendTo]="'body'"
          [minDate]="currentDate"
          (onSelect)="onDateSelect()"
           fluid>
        </p-datePicker>

        @if (form.controls.closingDate.touched && form.controls.closingDate.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- minAge -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.MIN_AGE' | translate }}
        </label>

        <input
          pInputText
          type="number"
          min="18"
          class="form-control"
          formControlName="minimumAge"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.MIN_AGE_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.minimumAge.touched && form.controls.minimumAge.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>

      <!-- maxAge -->
      <div class="col-md-6 mb-3">
        <label class="form-label">
          <span class="req">*</span> {{ 'JOB_WIZARD.STEPS.BASICS.MAX_AGE' | translate }}
        </label>

        <input
          pInputText
          type="number"
          min="18"
          class="form-control"
          formControlName="maximumAge"
          placeholder="{{ 'JOB_WIZARD.STEPS.BASICS.MAX_AGE_PLACEHOLDER' | translate }}"
        />

        @if (form.controls.maximumAge.touched && form.controls.maximumAge.invalid) {
        <div class="text-danger">{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</div>
        }
      </div>
    </div>
    <div class="modal-footer justify-content-end gap-3 border-0">
         <button type="button" class="btn btn-primary-outline d-flex text-primary gap-1 align-items-center" (click)="cancel()" [disabled]="isLoading"><i class="hgi hgi-stroke hgi-cancel-01 text-primary fs-18"></i> {{ 'common.cancel' | translate }} </button>
         <button type="submit" class="btn btn-primary d-flex gap-2 justify-content-center align-items-center" (click)="isEditMode ? updateJobBasics() : startJobCreation()" [disabled]="isLoading || !form.valid"><i class="hgi hgi-stroke hgi-pencil-edit-02"></i>  {{ getSaveButtonText() | translate }} </button>
    </div>
  </form>

  <app-review-note [note]="reviewNote"></app-review-note>
</div>
