<section i18nNamespace="pages/job-candidates" class="jc-dialog jc-dialog--lg">
        <div class="card card-table bg-light mb-3">
             <div class="card-body">
                  <!-- Add button -->
                  <div class="d-flex justify-content-between mb-3">
                       <h5 class="text-blue">الجنسية والنسب المفضلة</h5>
                       <button class="btn btn-outline-primary" type="button" (click)="addBreakdown()"><i class="hgi hgi-stroke hgi-add-01"></i> {{ 'JOB_CANDIDATE_FILTERS_ADD_NATIONALITY' | translate }}</button>
                  </div>
                  <form [formGroup]="form">
                      <div formArrayName="breakdowns" class="vstack gap-3">
                        <div *ngFor="let group of breakdownControls.controls; let i = index" [formGroupName]="i">
                            <div class="row align-items-end mb-3">
                              <!-- Nationality -->
                              <div class="col-12 col-lg-6">
                                    <label class="form-label">{{ 'JOB_CANDIDATE_FILTERS_NATIONALITY' | translate }}</label>
                                    <p-select class="w-100"  [options]="lookupsService.nationalities()" optionLabel="name" optionValue="id" formControlName="nationalityId" [showClear]="true" [filter]="true" filterBy="additionalData.nameAr,additionalData.nameEn,name" [placeholder]="'JOB_CANDIDATE_FILTERS_NATIONALITY' | translate"></p-select>
                              </div>

                              <div class="col-12 col-lg-5">
                                  <label class="form-label">{{ 'JOB_CANDIDATE_FILTERS_PERCENTAGE_VALUE' | translate }}</label>
                                  <div class="points-control">
                                      <span class="points-chip">100 ≥</span>
                                      <p-inputNumber formControlName="percentage" [min]="0" [max]="100" [showButtons]="true" [placeholder]="'JOB_CANDIDATE_FILTERS_PERCENTAGE_VALUE' | translate" class="points-input"></p-inputNumber>
                                  </div>
                               </div>
                              <!-- Delete -->
                              <div class="col-12 col-lg-1 d-flex">
                                   <div class="action-buttons">
                                        <button class="btn" type="button" (click)="removeBreakdown(i)"><i class="hgi hgi-stroke hgi-delete-02"></i></button>
                                   </div>
                              </div>
                            </div>
                        </div>
                      </div>
                  </form>
             </div>
        </div>
  

  <!-- Sticky footer actions -->
  <div class="modal-footer justify-content-end gap-3 border-0">
    <div class="d-flex flex-column flex-sm-row justify-content-end gap-2">
      <button class="btn btn-primary-outline d-flex text-primary gap-1 align-items-center" type="button" (click)="close()">
         <i class="hgi hgi-stroke hgi-cancel-01 text-primary fs-18"></i> {{ 'common.cancel' | translate }}
      </button>
      <button class="btn btn-primary d-flex gap-2 justify-content-center align-items-center" type="button" (click)="save()">
        <i class="hgi hgi-stroke hgi-floppy-disk fs-18"></i> {{ 'common.save' | translate }}
      </button>
    </div>
  </div>
</section>
