<section i18nNamespace="pages/job-candidates" class="jc-dialog jc-dialog--md">
  <form [formGroup]="form" class="jc-dialog__body">
    <div formArrayName="breakdowns" class="vstack gap-3">
      <div
        *ngFor="let group of breakdownControls.controls; let i = index"
        [formGroupName]="i"
        class="card jc-card"
      >
        <div class="card-body">
          <div class="row g-3 align-items-end">
            <!-- Nationality -->
            <div class="col-12 col-lg-6">
              <label class="form-label mb-1 small text-muted">
                {{ 'JOB_CANDIDATE_FILTERS_NATIONALITY' | translate }}
              </label>
              <p-select
                class="w-100"
                [options]="lookupsService.nationalities()"
                optionLabel="name"
                optionValue="id"
                formControlName="nationalityId"
                [showClear]="true"
                [filter]="true"
                filterBy="additionalData.nameAr,additionalData.nameEn,name"
                [placeholder]="'JOB_CANDIDATE_FILTERS_NATIONALITY' | translate"
              ></p-select>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label mb-1 small text-muted">
                {{ 'JOB_CANDIDATE_FILTERS_PERCENTAGE_VALUE' | translate }}
              </label>
              <p-inputNumber
                formControlName="percentage"
                [min]="0"
                [max]="100"
                [showButtons]="true"
                [placeholder]="'JOB_CANDIDATE_FILTERS_PERCENTAGE_VALUE' | translate"
                class="w-100"
              ></p-inputNumber>
            </div>

            <!-- Delete -->
            <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-lg-end">
              <button
                class="btn btn-sm btn-outline-danger w-100 w-sm-auto"
                type="button"
                (click)="removeBreakdown(i)"
              >
                {{ 'common.delete' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add button -->
      <div>
        <button
          class="btn btn-outline-primary w-100 w-sm-auto"
          type="button"
          (click)="addBreakdown()"
        >
          {{ 'JOB_CANDIDATE_FILTERS_ADD_NATIONALITY' | translate }}
        </button>
      </div>
    </div>
  </form>

  <!-- Sticky footer actions -->
  <div class="jc-dialog__footer border-top bg-body">
    <div class="d-flex flex-column flex-sm-row justify-content-end gap-2">
      <button class="btn btn-outline-primary w-100 w-sm-auto" type="button" (click)="close()">
        {{ 'common.cancel' | translate }}
      </button>
      <button class="btn btn-primary w-100 w-sm-auto" type="button" (click)="save()">
        {{ 'common.save' | translate }}
      </button>
    </div>
  </div>
</section>
