<div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="text-primary d-flex gap-2 align-items-center ">
        <i class="pi pi-sparkles" aria-hidden="true"></i>
        <span>{{ 'profileOverview.sections.skills' | translate }}</span>
      </h5>
       <button *ngIf="canEdit" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1"
               type="button" (click)="onEdit()">
         <i class="hgi hgi-stroke hgi-edit-01 me-1 fs-16"></i>
         {{ 'common.edit' | translate }}
       </button>
</div>


    <!-- Skills Cards -->
    @if (profile?.skills?.length || skillsUnderReview().length) {
      <div class="row g-3">

        @for (skill of profile?.skills; track skill.id) {
          <div class="col-12 col-sm-6 col-lg-4">
            <ng-container
              *ngTemplateOutlet="skillCardTemplate; context: { $implicit: skill }">
            </ng-container>
          </div>
        }

        @for (skill of skillsUnderReview(); track skill.id) {
          <div class="col-12 col-sm-6 col-lg-4">
            <ng-container
              *ngTemplateOutlet="skillCardTemplate; context: { $implicit: skill }">
            </ng-container>
          </div>
        }

      </div>
    } @else {
      <div class="text-muted">{{ 'common.none' | translate }}</div>
    }


<!-- Skill Card Template -->
<ng-template #skillCardTemplate let-option>
  <div class="card card-table">
    <div class="card-body">
         <div class="d-flex align-items-center justify-content-between">
              <label class="text-light w-100 fs-16">{{ option.skill?.name }}</label>
              <span class="pill info" *ngIf="!option.id">{{ 'profileOverview.status.pending' | translate }}</span>
         </div>
      <label class="fw-semibold text-dark text-nowrap fs-16">{{ option.level.name }}</label>
    </div>
  </div>
</ng-template>
