@use "../../../../../../../styles/base/variables" as *;

.review-card { border: 1px solid $border; border-radius: 16px; padding: 16px; }
.review-title { color: $brand; font-weight: 800; }
.btn-brand {
  @include brand-gradient; border: none; color: #fff; font-weight: 700; border-radius: 999px; transition: all .25s;
  &:hover { background-color:$blue; color:white; }
}
.mobile-phone {
  text-align: end;
  html[dir="ltr"] & {
    text-align: start;
  }
}
