/* Cairo - Local TTF */
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-ExtraLight.woff") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-Light.woff") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-Medium.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-SemiBold.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-Bold.woff") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-ExtraBold.woff") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("/assets/styles/fonts/cairo/Cairo-Black.woff") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "Cairo", sans-serif;
}
