@use "../../../../../../../styles/base/variables" as *;

table.table {
  thead th { font-weight: 700; }
  tbody td { vertical-align: middle; }
  th:nth-child(1) { width: 30%; }
  th:nth-child(2) { width: 50%; }
  th:nth-child(3) { width: 20%; text-align: end; }
}

.temp-att-row {
  .form-control { height: calc(2.8rem + 2px); }
}
.attachments-card {
  .attachments-table {
    th, td { vertical-align: middle; }
    .is-invalid { border-color: #dc3545; }
  }
}
