@use "styles/base/tokens";
@use "styles/base/flags";
@use "custom-styles";

@import "primeicons/primeicons.css";

$primary: #000;
.form-check-input:checked {
  background-color: #8a1538  !important;
  border-color: #8a1538  !important;
}
body {
  background: radial-gradient(1000px 400px at 50% -50%, #ffe9ef, transparent 70%), #fff;
  color: var(--text);
  line-height: 1.7;
  font-family:'Cairo', sans-serif;
}

.required::after {
  content: ' *';
  color: #dc3545; /* Bootstrap red tone */
  font-weight: bold;
  margin-left: 3px;
}


.p-datepicker-fluid{
    // border:1px solid var(--p-inputtext-border-color);

    // border-radius: 2rem !important;
    .p-inputtext{
      padding: 0.47rem 0.75rem  !important;
    }
    .p-datepicker-dropdown{
      background-color: transparent;
      padding: 0;
      border: 0;
      &:before{
              font-family: "hgi-stroke-rounded" !important;
              font-style: normal;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              content: "\3ce6";
              font-size: 18px;
        }
        svg{display: none;}
    }
}
.phone-wrap{
  .iti--allow-dropdown{width: 100%;}
}

:host ::ng-deep .iti__country-list {
  max-height: 300px;
}
.p-virtualscroller {
  min-height: 50px; /* Should match your scrollHeight */
}
