<div class="select-with-loading">
  <p-select
    [options]="options"
    [filter]="true"
    filterBy="additionalData.nameAr,additionalData.nameEn,name"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [placeholder]="computedPlaceholder"
    [disabled]="isDisabledComputed"
    (onFilter)="onFilter($event)"
    (onLazyLoad)="onLazyLoad($event)"
    (onShow)="onOpen()"
    (onChange)="handleChange($event)"
    [(ngModel)]="value"
    [emptyMessage]="emptyMessage"
    [size]="size"
    [appendTo]="appendTo"
    [panelStyle]="panelStyle"
    [virtualScroll]="true"
    [lazy]="true"
    [virtualScrollItemSize]="38"
    [showClear]="showClear"
    [class]="invalid ? 'p-invalid' : ''">
  </p-select>
  @if(isLoading) {
  <div class="select-loading-overlay">
    <i class="fa-solid fa-spinner fa-spin"></i>
  </div>
}
</div>
