<div class="select-with-loading">
  <p-select [options]="options()" [filter]="true" filterBy="additionalData.nameAr,additionalData.nameEn,name"
    [optionLabel]="optionLabel" [optionValue]="optionValue" [placeholder]="computedPlaceholder"
    [disabled]="isDisabledComputed" (onFilter)="onFilter($event)" (onLazyLoad)="onLazyLoad($event)" (onShow)="onOpen()"
    (onHide)="onClose()" (onChange)="handleChange($event)" (onClear)="onClearSelection()" [ngModel]="value()"
    [emptyMessage]="emptyMessage()" [size]="size" [appendTo]="appendTo" [panelStyle]="panelStyle"
    [showClear]="showClear" [virtualScroll]="true" [virtualScrollItemSize]="virtualScrollItemSize" [lazy]="true"
    [class]="invalid ? 'p-invalid' : 'panelStyle'">
    <ng-template pTemplate="item" let-option>
      <div class="text-truncate" style="width: 100%; max-width: 100%; box-sizing: border-box; min-width: 0;" [title]="getOptionLabelValue(option)">
        {{ getOptionLabelValue(option) }}
      </div>
    </ng-template>
  </p-select>

  @if (isLoading()) {
  <div class="select-loading-overlay">
    <div class="spinner"></div>
  </div>
  }
</div>