
.brand-grad {
  background: linear-gradient(135deg, var(--brand), var(--brand-2));
}

.btn-brand {
  background: linear-gradient(135deg, var(--brand), var(--brand-2));
  border: none;
  color: #fff;
  border-radius: 999px;
  padding: .7rem 1.25rem;

  &:hover { opacity: .95; color: #fff; }
}

.nav-link { color:#fff !important; opacity:.95; &:hover { opacity:1; } }

.hero {
  position: relative; min-height: 45vh; display: grid; place-items: center; color: #fff;
  &::before {
    content: '';
    position: absolute; inset: 0;
    background: url('../../../../assets/img/home-banner.png?q=80&w=1800&auto=format&fit=crop') center/cover no-repeat;
  }
  // &::after {
  //   content: ''; position: absolute; inset: 0;
  //   background: linear-gradient(120deg, rgba(123,30,58,.72), rgba(123,30,58,.45));
  // }
  .inner { position: relative; z-index: 2; text-align: center; }
  .lead { opacity: .92; }
}

.logo-qa { height: 56px; @media (min-width: 992px) { height: 64px; } }

.section { padding: 4rem 0; }

.card-ghost {
  border: 1px solid var(--border);
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.02);
  img { display: block; }
  p{color:rgba(102, 103, 102, 1);}
   
}
.why .card-ghost{
  &:hover{
        background-color: var(--brand);
        .icon-circle{
          background-color: white;
          i{color: var(--brand);}
        }
        p,h6{color: white;}
   }
}
.icon-circle {
  width: 54px; height: 54px; border-radius: 8px;
  display: grid; place-items: center;
  background: var(--brand); color:#fff;
}

.bg-light { background:#F6F6F3 !important; }
.faq-q { text-decoration: none; color: var(--ink); font-size: 18px; font-weight: 600;}
.faq-a { max-height: 0; overflow: hidden; transition: max-height .25s ease; }
.faq-a.open { max-height: 300px; }
.faq-q .icon{
  width: 25px;
  height: 25px;
  background-color: rgba(241, 230, 229, 1);
  border-radius: 4px;
  color: rgba(137, 21, 61, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



.success{
  .card-ghost{
  background-color: #F6EDF0;
  border: 0;
  .icon-circle{
    border-radius: 50%;
  }
}
} 