<h5 class="text-primary d-flex align-items-center my-3">
  <i class="hgi hgi-stroke hgi-calendar-03 me-1"></i>
  {{ 'TEST_SLOT_WIZARD.SLOT_DETAILS' | translate }}
</h5>

<div class="row g-3 workflow-form-grid" [formGroup]="form">
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-title-ar">
      {{ 'TEST_SLOT_WIZARD.TITLE_AR' | translate }} <span class="text-danger">*</span>
    </label>
    <input pInputText id="test-slot-title-ar" class="w-100" formControlName="titleAr" maxlength="200" />
  </div>
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-title-en">
      {{ 'TEST_SLOT_WIZARD.TITLE_EN' | translate }}
    </label>
    <input pInputText id="test-slot-title-en" class="w-100" formControlName="titleEn" maxlength="200" />
  </div>
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-create-room">
      {{ 'TEST_SLOT_WIZARD.ROOM' | translate }} <span class="text-danger">*</span>
    </label>
    <p-select
      inputId="test-slot-create-room"
      class="w-100"
      formControlName="roomId"
      [options]="rooms"
      [optionLabel]="roomLabel"
      optionValue="id"
      appendTo="body"
    />
  </div>
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-date">
      {{ 'TEST_SLOT_WIZARD.DATE' | translate }} <span class="text-danger">*</span>
    </label>
    <p-datepicker
      inputId="test-slot-date"
      class="w-100"
      formControlName="slotDate"
      dateFormat="yy-mm-dd"
      [minDate]="minSlotDate"
      appendTo="body"
    />
  </div>
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-start-time">
      {{ 'TEST_SLOT_WIZARD.START_TIME' | translate }} <span class="text-danger">*</span>
    </label>
    <p-datepicker
      inputId="test-slot-start-time"
      class="w-100"
      formControlName="startTime"
      [timeOnly]="true"
      hourFormat="12"
      appendTo="body"
    />
  </div>
  <div class="col-lg-6">
    <label class="form-label" for="test-slot-end-time">
      {{ 'TEST_SLOT_WIZARD.END_TIME' | translate }} <span class="text-danger">*</span>
    </label>
    <p-datepicker
      inputId="test-slot-end-time"
      class="w-100"
      formControlName="endTime"
      [timeOnly]="true"
      hourFormat="12"
      appendTo="body"
    />
  </div>
</div>
