<form [formGroup]="form">
  <div class="card card-lite p-3 mb-3">
    <h6 class="mb-3 text-brand fw-bold">{{ 'job_wizard.steps.basics.title' | translate }}</h6>

    <div class="col-lg-6 col-md-8 mb-3">
      <label class="form-label fw-bold">{{
        'job_wizard.steps.basics.requesting_dept' | translate
        }}</label>
      <p-select [options]="lookupsService.departments()" formControlName="requestingDept" optionLabel="name"
        optionValue="id" [filter]="true" [showClear]="true"
        placeholder="{{ 'job_wizard.steps.basics.requesting_dept_placeholder' | translate }}" class="w-100"></p-select>
      <div class="small-muted mt-1">
        {{ 'job_wizard.steps.basics.requesting_dept_hint' | translate }}
      </div>
      @if (form.controls.requestingDept.touched && form.controls.requestingDept.invalid) {
      <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
      }
    </div>

    <div class="row g-3 mb-3">
      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.job_title' | translate
          }}</label>
        <input class="form-control" formControlName="title"
          placeholder="{{ 'job_wizard.steps.basics.job_title_placeholder' | translate }}" />
        @if (form.controls.title.touched && form.controls.title.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.job_category' | translate
          }}</label>
        <p-select [options]="lookupsService.jobCategories()" formControlName="jobCategory" optionLabel="name"
          optionValue="id" [showClear]="true"
          placeholder="{{ 'job_wizard.steps.basics.job_category_placeholder' | translate }}" class="w-100"></p-select>
        @if (form.controls.jobCategory.touched && form.controls.jobCategory.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{ 'job_wizard.steps.basics.gender' | translate }}</label>
        <!-- <p-select [options]="lookupsService.genders()" formControlName="gender" optionLabel="name" optionValue="id"
          [showClear]="true" placeholder="{{ 'job_wizard.steps.basics.select_type' | translate }}"
          class="w-100"></p-select> -->
          <p-multiselect [options]="lookupsService.genders()" formControlName="gender" [showClear]="true"
          optionLabel="name" optionValue="id"
          placeholder="{{ 'job_wizard.steps.basics.select_type' | translate }}" class="w-100" />
      </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.work_entity' | translate
          }}</label>
        <p-select [options]="lookupsService.targetEntities()" formControlName="entity" optionLabel="name"
          optionValue="id" [showClear]="true"
          placeholder="{{ 'job_wizard.steps.basics.work_entity_placeholder' | translate }}" class="w-100"></p-select>
        @if (form.controls.entity.touched && form.controls.entity.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{ 'job_wizard.steps.basics.major' | translate }}</label>
        <p-select [options]="lookupsService.majors()" optionLabel="name" optionValue="id" formControlName="major"
          [filter]="true" [showClear]="true" placeholder="{{ 'job_wizard.steps.basics.major_placeholder' | translate }}"
          class="w-100"></p-select>
        @if (form.controls.major.touched && form.controls.major.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{ 'job_wizard.steps.basics.degree' | translate }}</label>
        <p-multiselect [options]="lookupsService.degrees()" formControlName="degree" [showClear]="true" [filter]="true"
          optionLabel="name" optionValue="id"
          placeholder="{{ 'job_wizard.steps.basics.degree_placeholder' | translate }}" class="w-100" />
        @if (form.controls.degree.touched && form.controls.degree.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>
    </div>

    <div class="row g-3 mb-1">
      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.work_type' | translate
          }}</label>
        <p-select [options]="lookupsService.workTypes()" optionLabel="name" optionValue="id"
          formControlName="typeOfWork" [showClear]="true"
          placeholder="{{ 'job_wizard.steps.basics.work_type_placeholder' | translate }}" class="w-100"></p-select>
        @if (form.controls.typeOfWork.touched && form.controls.typeOfWork.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.vacancies' | translate
          }}</label>
        <input type="number" min="1" class="form-control" formControlName="vacancies"
          placeholder="{{ 'job_wizard.steps.basics.vacancies_placeholder' | translate }}" />
        @if (form.controls.vacancies.touched && form.controls.vacancies.invalid) {
        <div class="text-danger small">
          @if (form.controls.vacancies.errors?.['required']) {
          {{ 'validation.required_filed' | translate }}
          } @if (form.controls.vacancies.errors?.['min']) {
          {{ 'job_wizard.validation.min_vacancies' | translate }}
          }
        </div>
        }
      </div>

      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">{{
          'job_wizard.steps.basics.deadline' | translate
          }}</label>
        <p-datePicker formControlName="deadline" [showIcon]="true" inputId="date" dateFormat="dd/mm/yy"
          placeholder="dd/mm/yyyy" (onSelect)="onDateSelect()"></p-datePicker>
        @if (form.controls.deadline.touched && form.controls.deadline.invalid) {
        <div class="text-danger small">{{ 'validation.required_filed' | translate }}</div>
        }
      </div>
    </div>
  </div>
</form>