<div class="login-page">
  <div class="card">
    <div class="card-header">
      <h1 class="title">{{ 'auth.login.title' | translate }}</h1>
      <p class="subtitle">{{ 'auth.login.subtitle' | translate }}</p>
    </div>

    <div class="socials">
      <button type="button" id="googleSignInBtn" class="btn social google" (click)="loginWithProvider('google')">
        <img src="assets/icons/google.svg" alt="" /> {{ 'auth.login.google' | translate }}
      </button>

      <button type="button" class="btn social azure" (click)="loginWithProvider('azure')">
        <img src="assets/icons/azure.svg" alt="" /> {{ 'auth.login.azure' | translate }}
      </button>

      <button type="button" class="btn social sso" (click)="loginWithProvider('sso')">
        <img src="assets/icons/sso.svg" alt="" /> {{ 'auth.login.sso' | translate }}
      </button>
    </div>

    <div class="form-row">
      <div class="error global" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </div>
</div>
