<ul class="stepper nav nav-pills flex-wrap" aria-label="Profile sections">
  <li class="nav-item" *ngFor="let s of sections">
    <button
      type="button"
      class="nav-link"
      [class.active]="activeSection === s.section"
      [class.done]="s.uiStatus === 'done'"
      [class.bad]="s.uiStatus === 'bad'"
      [class.idle]="s.uiStatus === 'idle'"
      (click)="selectSection(s.section)"
    >
      <span class="step-index" [ngClass]="{ 'is-active': activeSection === s.section, 'is-complete': s.uiStatus === 'done' }">
        <ng-container [ngSwitch]="s.uiStatus">
          <i *ngSwitchCase="'done'" class="fa-solid fa-check"></i>
          <i *ngSwitchCase="'bad'" class="fa-solid fa-xmark"></i>
          <i *ngSwitchCase="'progress'" class="fa-solid fa-rotate"></i>
          <i *ngSwitchDefault class="fa-regular fa-circle"></i>
        </ng-container>
      </span>
      <span class="step-label">
        <i class="{{ s.icon }}"></i>
        <span>{{ s.labelKey | translate }}</span>
      </span>
    </button>
  </li>
</ul>
