@use "styles/tokens";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap');

body {
  background: radial-gradient(1000px 400px at 50% -50%, #ffe9ef, transparent 70%),
  #fff;
  color: var(--text);
  line-height: 1.7;
  font-family: 'Cairo', sans-serif;
}

.p-multiselect{
  height: calc(2.25rem) !important;
}

.p-select {
  height: calc(2.25rem) !important;
}