<app-navbar [menuTemplate]="menuTemplate"></app-navbar>

<router-outlet />

<app-footer></app-footer>



<ng-template #menuTemplate>
  <li class="nav-item"><a class="nav-link" href="#about">{{ 'home.nav.about' | translate }}</a></li>
  <li class="nav-item"><a class="nav-link" href="#tracks">{{ 'home.nav.tracks' | translate }}</a></li>
  <li class="nav-item"><a class="nav-link" href="#why">{{ 'home.nav.why' | translate }}</a></li>
  <li class="nav-item"><a class="nav-link" href="#success">{{ 'home.nav.success' | translate }}</a></li>
  <li class="nav-item"><a class="nav-link" href="#faq">{{ 'home.nav.faq' | translate }}</a></li>
</ng-template>
