<nav class="navbar navbar-expand-lg sticky-top custom-navbar" dir="rtl">
  <div class="container container-narrow d-flex align-items-center justify-content-between">
    
    <!-- Right side (RTL): Ministry Logo -->
    <a class="navbar-brand d-flex align-items-center gap-2 m-0" href="" (click)="navigateToHome($event)">
        <img alt="Ministry Logo" src="../../../../assets/img/logo-en.png" class="logo-qa">
    </a>

    <!-- Center: Main Navigation Links -->
    <div id="navMain" class="collapse navbar-collapse justify-content-center order-3 order-lg-2 mt-3 mt-lg-0">
      <ul class="navbar-nav mb-2 mb-lg-0 gap-1 gap-lg-3">
        @if (menuTemplate) {
          <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
        }
        @else {
          <!-- Render directly, no ng-template -->
          <li class="nav-item"><a class="nav-link" href="#home">{{ 'public.nav.home' | translate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">{{ 'public.nav.about' | translate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="#values">{{ 'public.nav.values' | translate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">{{ 'public.nav.contact' | translate }}</a></li>
        }
      </ul>
    </div>

    <!-- Left side (RTL): Actions & Hamburger grouped together -->
    <div class="d-flex align-items-center gap-2 order-2 order-lg-3">
      
      <!-- Language Switch & Login Actions -->
      <div class="navbar-actions d-flex align-items-center gap-2 gap-lg-3">
        
        <!-- Language Switch -->
        <button class="btn btn-lang d-flex align-items-center justify-content-center" (click)="toggleLanguage()" aria-label="Switch Language">
          <span class="lang-text me-1 d-none d-sm-inline">{{ `common.${language.getPrev()}` | translate }}</span>
          <i class="hgi hgi-stroke hgi-earth fs-5"></i>
        </button>

        <!-- Auth Actions -->
        <ng-container *ngIf="(isLoggedIn$ | async) === false">
          <a [routerLink]="routes.auth.login" class="btn btn-login d-flex align-items-center justify-content-center">
            <span class="d-none d-sm-inline">{{ 'public.nav.login' | translate }}</span>
            <i class="hgi hgi-stroke hgi-login-03 d-inline d-sm-none fs-5"></i>
          </a>
        </ng-container>

        <ng-container *ngIf="(isLoggedIn$ | async) === true">
          <a [routerLink]="routes.user.dashboard" class="btn btn-login d-flex align-items-center justify-content-center">
            <span class="d-none d-sm-inline">{{ 'public.nav.profile.dashboard' | translate }}</span>
            <i class="isax isax-user d-inline d-sm-none fs-5"></i>
          </a>
          <a (click)="logout()" class="btn btn-lang d-flex align-items-center justify-content-center">
            <i class="isax isax-logout fs-5"></i>
          </a>
        </ng-container>
      </div>

      <!-- Hamburger Menu (Mobile/Tablet) -->
      <button class="navbar-toggler border-0 shadow-none ms-1 px-2" type="button" aria-expanded="false"
              data-bs-toggle="collapse" data-bs-target="#navMain">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>

  </div>
</nav>
