<nav class="navbar navbar-expand-lg navbar-dark brand-grad py-2 sticky-top">
  <div class="container container-narrow">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
        <img alt="" src="../../../../assets/img/logo-en.png" class="logo-qa me-2">
    </a>

    <button class="navbar-toggler bg-primary" type="button" aria-expanded="false"
            data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navMain" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (menuTemplate) {
          <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
        }
        @else{
          <ng-template>
            <li class="nav-item"><a class="nav-link" href="#about">{{ 'home.nav.about' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" href="#tracks">{{ 'home.nav.tracks' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" href="#why">{{ 'home.nav.why' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" href="#success">{{ 'home.nav.success' | translate }}</a></li>
            <li class="nav-item"><a class="nav-link" href="#faq">{{ 'home.nav.faq' | translate }}</a></li>
          </ng-template>
        }
      </ul>

      <div class="d-flex gap-2 align-items-center">
        <button class="btn btn-text d-flex gap-2 align-items-center" (click)="toggleLanguage()">
          <span>{{ `common.${language.getPrev()}` | translate }}</span>
          <i class="hgi hgi-stroke hgi-earth"></i>
        </button>
        <ng-container *ngIf="!isLoggedIn">
          <a [routerLink]="routes.auth.login" class="btn btn-primary d-inline-flex align-items-center me-2">
            {{ 'public.nav.login' | translate }}
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <a [routerLink]="routes.user.dashboard" class="btn btn-primary d-inline-flex align-items-center me-2">
            <i class="isax isax-user me-2"></i>{{ 'public.nav.profile.dashboard' | translate }}
          </a>
          <a (click)="logout()" class="btn btn-secondary me-0">
            <i class="isax isax-logout me-2"></i>{{ 'public.nav.logout' | translate }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
