<div class="card card-lite p-3 mb-3" [formGroup]="form">
  <h6 class="mb-3 text-brand fw-bold">
    {{ 'job_wizard.steps.quotas.title' | translate }}
  </h6>

  <div class="row g-3">
    @for (control of quotasControls; track control) {
      <div class="col-lg-4 col-md-6">
        <label class="form-label fw-bold">
          {{ ('job_wizard.steps.quotas.' + control) | translate }}
        </label>
        <input
          type="number"
          class="form-control quota"
          [formControlName]="control"
          min="0"
          max="100"
        >
      </div>
    }

    <!-- Residents -->
    <div class="col-lg-4 col-md-6">
      <label class="form-label fw-bold">
        {{ 'job_wizard.steps.quotas.residents' | translate }}
      </label>

      <div class="input-group">
        <input
          type="number"
          class="form-control quota"
          formControlName="residents"
          min="0"
          max="100"
        >
        <button type="button" (click)="openModal()" class="btn btn-outline-brand" id="editResidents"><i
          class="fa fa-sliders"></i> {{ 'job_wizard.steps.quotas.residents_details_button' | translate }}
        </button>
      </div>

      <div class="small-muted mt-1">
        {{ 'job_wizard.validation.sum_hint' | translate }}
      </div>

      <div class="chip mt-2">
        {{ 'job_wizard.validation.sum_label' | translate }}:
        <span [class]="'quota-' + (totalQuota() === 100 ? 'ok' : 'bad')">
          {{ totalQuota() }}%
        </span>

        @if (totalQuota() !== 100) {
          <span id="quotaState" class="bad">{{ 'job_wizard.validation.sum_state' | translate }}</span>
        } @else if (form.errors?.['residentsMismatch']) {
          <span id="quotaState" class="bad">{{ 'job_wizard.validation.breakdowns_invalid' | translate }}</span>
        }
         @else {
          <span id="quotaState" class="ok">{{ 'job_wizard.validation.sum_valid' | translate }}</span>
        }
      </div>
    </div>
  </div>

  @if (residentsBreakdowns.length > 0) {
    <div class="mt-3">
      <div class="small-muted">
        {{ 'job_wizard.steps.quotas.residents_details_button' | translate }}
      </div>

      @for (item of residentsBreakdowns; track item?.nationalityId) {
        <span class="chip">{{ lookupsService.getNationalites(item?.nationalityId) }}: {{ item?.percentage }}%</span>
      }
    </div>
  }
</div>
