
<!-- Header -->
<header class="topbar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
           <img   src="../../../../assets/img/logo-black.png" [alt]="'internal.nav.logoAlt' | translate" class="img-fluid logo"/>
      </div>
      <div class="col-lg-6">
           <div class="d-flex align-items-center gap-3 justify-content-end">

                  <div class=" notification">
                    <button class="notification-btn btn position-relative" [class.has-notifications]="notificationCount > 0">
                      <i class="hgi hgi-stroke hgi-notification-01"></i>
                      @if (notificationCount > 0) {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">{{ notificationCount }}</span>
                      }
                    </button>
                  </div>


                  <!-- Language Switcher -->
                  <button class="language-toggle language" (click)="toggleLanguage()">
                    <span>{{`common.${language.getPrev()}` | translate }}</span>
                    <i class="hgi hgi-stroke hgi-earth"></i>
                  </button>


                  <div class="profile">
                    <!-- Login/Register Button -->
                    @if (!isLoggedIn) {
                      <button class="btn-login btn btn-primary" (click)="login()">
                        <i class="hgi hgi-stroke hgi-logout-02"></i>
                        <span class="text-white"> {{ 'internal.nav.login' | translate }}</span>
                      </button>
                    }

                    <!-- User Menu -->
                    @if (isLoggedIn) {
                      <div class="user-menu">
                        <button class="btn btn-primary btn-sm user-toggle" (click)="toggleUserMenu()">
                          <img [src]="userAvatar"  [alt]="'internal.nav.userAvatarAlt' | translate" height="35" class="rounded-circle" />
                          <span class="mx-2">{{ userName }}</span>
                        </button>
                        @if (showUserMenu) {
                          <ul class="user-dropdown">
                            <li>
                              <a [routerLink]="routes.dashboard('')">
                                {{ 'internal.nav.userProfile' | translate }}
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="routes.settings('')">
                                {{ 'internal.nav.userSettings' | translate }}
                              </a>
                            </li>
                            <li>
                              <a (click)="logout()">
                                {{ 'internal.nav.logout' | translate }}
                              </a>
                            </li>
                          </ul>
                        }

                      </div>
                    }

                  </div>
                <!-- Notifications -->

        </div>
      </div>
    </div>
  </div>
</header>
