@use '../styles/_header-section';
@use '../styles/_tabs';
@use '../styles/_job-info';
@use '../styles/_buttons';
@use '../styles/_status-tags';
@use '../styles/_notes';
@use '../styles/_review';
@use '../styles/_dual-text';
@use '../styles/_empty-state';
@use '../styles/_history-table';

.content-area-main{
  display: flex;
  gap: 20px;
padding-bottom: 25px;
}