<div class="main-container" i18nNamespace="pages/job-details">
  <div class="header-section">
    <div class="job-details-title-group">
      <div class="title-wrapper">
        <h1 class="job-title text-xlarge">{{ job.titleAr }}</h1>

        <div class="info-bar">
          <div class="info-item">
            <span>{{ 'JOB_DETAILS.JOB_REVIEW_NOT' | translate }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="status-favorite-wrapper">
      <div class="favorite-icon-container" (click)="toggleFavorite()">
        <i
          class="heart-icon"
          [class.active]="isFavorite"
          [ngClass]="isFavorite ? 'fa fa-heart' : 'fa fa-heart-o'"
        ></i>
      </div>

      <div class="status-tag" [ngClass]="getStatusClass()">
        <span>{{ job.jobStatus.name }}</span>
      </div>
    </div>
  </div>
</div>

<div class="tabs-card">
  <div class="tabs-card-switch card-base">
    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'overview'"
      (click)="setActiveTab('overview')"
    >
      <i class="fa fa-file-alt"></i>
      <span>{{ 'JOB_DETAILS.OVERVIEW' | translate }}</span>
    </button>

    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'responsibilities'"
      (click)="setActiveTab('responsibilities')"
    >
      <i class="fa fa-tasks"></i>
      <span>{{ 'JOB_DETAILS.RESPONSIBILITIES' | translate }}</span>
    </button>

    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'conditions'"
      (click)="setActiveTab('conditions')"
    >
      <i class="fa fa-graduation-cap"></i>
      <span>{{ 'JOB_DETAILS.CONDITIONS' | translate }}</span>
    </button>

    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'skills'"
      (click)="setActiveTab('skills')"
    >
      <i class="fa fa-tools"></i>
      <span>{{ 'JOB_DETAILS.SKILLS' | translate }}</span>
    </button>

    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'benefits'"
      (click)="setActiveTab('benefits')"
    >
      <i class="fa fa-gift"></i>
      <span>{{ 'JOB_DETAILS.BENEFITS' | translate }}</span>
    </button>

    <button
      class="tab-button pill-button text-medium flex-center"
      [class.active]="activeTab === 'requiredAttachments'"
      (click)="setActiveTab('requiredAttachments')"
    >
      <i class="fa fa-paperclip"></i>
      <span>{{ 'JOB_DETAILS.REQUIRED_ATTACHMENTS' | translate }}</span>
    </button>
  </div>
</div>

<div class="content-area-main">
  <div class="tab-content-wrapper flex-column">
    <div class="tab-content-card card-base flex-column">
      <div class="content-section flex-column">
        <h2 class="text-large flex-center">
          <i class="fa {{ getTabContent().icon }}"></i>
          {{ getTabContent().title | translate }}
        </h2>

        <div class="article-summary text-regular">
          @if (activeTab === 'overview') {
            @if (job.overViewAr || job.overViewEn) {
              <div class="dual-text-container">
                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.OVERVIEWAR' | translate }}</h6>
                  <div [innerHTML]="job.overViewAr"></div>
                </div>

                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.OVERVIEWEN' | translate }}</h6>
                  <div [innerHTML]="job.overViewEn"></div>
                </div>
              </div>
            }
          }

          @if (activeTab === 'responsibilities') {
            @if (getResponsibilities().length > 0) {
              <ul>
                @for (responsibility of getResponsibilities(); track $index) {
                  <li>{{ responsibility }}</li>
                }
              </ul>
            }
          }

          @if (activeTab === 'conditions') {
            @if (job.qualificationDescriptionAr || job.qualificationDescriptionEn) {
              <h3>{{ 'JOB_DETAILS.QUALIFICATIONS' | translate }}</h3>
              <div class="dual-text-container">
                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.ARABIC' | translate }}</h6>
                  <div [innerHTML]="job.qualificationDescriptionAr"></div>
                </div>

                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.ENGLISH' | translate }}</h6>
                  <div [innerHTML]="job.qualificationDescriptionEn"></div>
                </div>
              </div>
            }

            @if (getJobConditions().length > 0) {
              <div class="basic-requirements">
                <h3>{{ 'JOB_DETAILS.CONDITIONS' | translate }}</h3>

                @for (condition of getJobConditions(); track $index) {
                  <div class="condition-row">
                    <div class="text-area">
                      <h6>{{ 'JOB_DETAILS.ARABIC' | translate }}</h6>
                      <div [innerHTML]="condition.textAr"></div>
                    </div>

                    <div class="text-area">
                      <h6>{{ 'JOB_DETAILS.ENGLISH' | translate }}</h6>
                      <div [innerHTML]="condition.textEn"></div>
                    </div>
                  </div>
                }
              </div>
            }

            <h3>{{ 'JOB_DETAILS.QUALIFICATION_REQUIREMENTS' | translate }}</h3>
            <p>{{ getDegreeRequirements() }}</p>
          }

          @if (activeTab === 'skills') {
            @if (getJobSkills().length > 0) {
              <ul>
                @for (skill of getJobSkills(); track $index) {
                  <li>{{ skill }}</li>
                }
              </ul>
            }
          }

          @if (activeTab === 'benefits') {
            @if (job.benefitsAr || job.benefitsEn) {
              <div class="dual-text-container">
                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.ARABIC' | translate }}</h6>
                  <div [innerHTML]="job.benefitsAr"></div>
                </div>

                <div class="text-area">
                  <h6>{{ 'JOB_DETAILS.ENGLISH' | translate }}</h6>
                  <div [innerHTML]="job.benefitsEn"></div>
                </div>
              </div>
            }
          }

          @if (activeTab === 'requiredAttachments') {
            @if (job.requiredAttachments && job.requiredAttachments.length) {
              <ul>
                @for (attachment of job.requiredAttachments; track $index) {
                  <li>
                    <div class="attachmentAr">
                      <h6>{{ 'JOB_DETAILS.ARABIC' | translate }}</h6>
                      <div [innerHTML]="attachment.titleAr"></div>
                    </div>

                    <div class="attachmentEn">
                      <h6>{{ 'JOB_DETAILS.ENGLISH' | translate }}</h6>
                      <div [innerHTML]="attachment.titleEn"></div>
                    </div>

                    @if (attachment.isMandatory) {
                      <span class="badge mandatory">{{ 'JOB_DETAILS.MANDATORY' | translate }}</span>
                    }
                  </li>
                }
              </ul>
            }
          }
        </div>
      </div>
    </div>
  </div>

  <div class="job-info-card card-base flex-column">
    <h2 class="text-large flex-center">
      <i class="fa fa-info-circle"></i>
      {{ 'JOB_DETAILS.JOB_INFO' | translate }}
    </h2>

    <div class="info-list-container flex-column">
      <div class="info-list-item flex-between">
        <span class="label text-regular">{{ 'JOB_DETAILS.JOB_CATEGORY' | translate }}</span>
        <span class="value text-medium">{{
          job.jobCategory.name || ('JOB_DETAILS.NOT_SPECIFIED' | translate)
        }}</span>
      </div>

      <div class="info-list-item flex-between">
        <span class="label text-regular">{{ 'JOB_DETAILS.CLOSING_DATE' | translate }}</span>
        <span class="value text-medium">{{ job.closingDate | date : 'dd/MM/yyyy' }}</span>
      </div>

      <div class="info-list-item flex-between">
        <span class="label text-regular">{{ 'JOB_DETAILS.DEPARTMENT' | translate }}</span>
        <span class="value text-medium">{{ job.workLocation.name | translate }}</span>
      </div>

      <div class="info-list-item flex-between">
        <span class="label text-regular">{{ 'JOB_DETAILS.WORK_LOCATION' | translate }}</span>
        <span class="value text-medium">{{ 'Qatar' }}</span>
      </div>
    </div>
  </div>
</div>

<button
  class="apply-button-large flex-center"
  (click)="openConfirmModal()"
  [disabled]="hasApplied || !isJobOpen()"
  [title]="!isJobOpen() ? ('JOB_DETAILS.APPLICATION_CLOSED' | translate) : ''"
>
  <i class="fa" [class.fa-paper-plane]="!hasApplied" [class.fa-check]="hasApplied"></i>
  <span class="text-large">
    {{
      hasApplied
        ? ('JOB_DETAILS.APPLICATION_SUBMITTED' | translate)
        : ('JOB_DETAILS.APPLY_JOB' | translate)
    }}
  </span>
</button>
